//---------------------------------------------------FILES IMPORT-----------------------------------------------------------------
/* 
@import "list-styles";
@import "detail-styles"; */

//---------------------------------------------------FONTS IMPORT-----------------------------------------------------------------

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@font-face {
    font-family: "Magic School";
    src: url(../assets/fonts/MagicSchool.ttf);
}

//--------------------------------------------------VARIABLES---------------------------------------------------------------------

$title-font: "Magic School";
$common-font: "Roboto Condensed", sans-serif;

$background-color: #000;
$secondary-color: rgb(81, 68, 107);

$letter-color: #f6f0ff;

//-----------------------------------------------MAIN STYLES-----------------------------------------------------------------------

* {
    margin: 0;
    padding: 0;
}

.page,
html {
    text-align: center;
    text-align: center;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $background-color;
    z-index: 0;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;

        &__header,
        &__footer {
            top: 0;
            width: 100%;
            padding: 5%;
            margin: 0 0 0 -3%;
            position: fixed;
            z-index: 4;
            background-color: rgba(0, 0, 0, 0.671);

            &__logo {
                width: 15%;
                cursor: pointer;
            }
            &__nav {
                display: flex;
                display: flex;
                align-items: center;
                justify-content: space-around;
                align-content: center;
                width: 90%;
                z-index: 3;
                margin: 3% 0 0% 4%;

                &__link {
                    color: $letter-color;
                    background-color: transparent;
                    border: none;
                    font-family: $common-font;
                    font-weight: 600;
                    text-transform: uppercase;
                    font-size: 70%;
                    letter-spacing: 3px;
                    z-index: 3;
                    cursor: pointer;
                }

                &__link:hover {
                    color: $secondary-color;
                }
            }
        }

        &__stars,
        &__twinkling,
        &__clouds {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }

        &__stars {
            background: $background-color url(../assets/images/stars.png);
            z-index: 0;
        }

        &__twinkling {
            background: transparent url(../assets/images/twinkling.png);
            z-index: 1;
            animation: move-twink-back 200s linear infinite;
        }

        &__clouds {
            background: transparent url(../assets/images/clouds.png);
            z-index: 2;
            opacity: 0.4;
            animation: move-clouds-back 200s linear infinite;
        }

        &__title-container {
            margin-top: 30%;
            &--disabled {
                display: none;
            }
            &__title {
                color: $letter-color;
                margin-top: 10%;
                font-family: $title-font;
                font-size: 480%;
                background: -webkit-linear-gradient(#eee, #333);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                text-shadow: 0px -3px 0px rgb(0 0 0 / 20%);
                display: block;
                position: relative;
                z-index: 3;
            }
        }

        &__introduction {
            display: flex;
            flex-direction: column;
            text-align: center;

            &--disabled {
                display: none;
            }

            &__message,
            &__explanation {
                z-index: 3;
                background-color: $secondary-color;
                color: $letter-color;
                font-family: $title-font;
                letter-spacing: 3px;
                font-weight: 100;
                font-size: 250%;
                margin: 10%;
                padding: 10%;
                border: 5px solid $letter-color;
                border-radius: 15%;

                &--disabled {
                    display: none;
                }
            }

            &__explanation {
                font-family: $common-font;
                font-size: 120%;
                text-align: justify;
                letter-spacing: 0;
                border-radius: 10%;
            }
        }

        @import "list-styles";
        @import "detail-styles";

        &__footer {
            display: flex;
            top: 90%;
            bottom: 0;
            align-items: center;
            justify-content: space-evenly;
            align-content: center;

            &__link {
                width: 10%;
                z-index: 4;
                cursor: pointer;
            }

            .instagram {
                width: 100%;
            }
        }
    }
}

//------------------------------------------------KEYFRAMES------------------------------------------------------------------------

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}
